@model IEnumerable<LearningPlatform.Models.CourseViewIdModel>

@{
    var userId = ViewBag.UserId;
}

<div class="container">
    <h2>Select Courses for User</h2>

    <form method="post" action="@Url.Action("AssignToCourse", "User")">
        <input type="hidden" name="userId" value="@userId" />
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="selectedCourses" value="@item.Id" /></td>
                        <td>@item.Name</td>
                    
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Assign</button>
    </form>
</div>
