@model LearningPlatform.Models.Course

<div class="container">
    <h2>Add course</h2>
    <form asp-action="Create" method="post">
        <div>
            <label asp-for="Value" class="form-label"></label>
            <input asp-for="Value" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
