@model LearningPlatform.Models.CourseViewModel

@{
    var currentRoute = ViewContext.RouteData.Values["controller"];
    var currentId = ViewContext.RouteData.Values["id"];
}

<div class="container">
    <h2>Modify Course</h2>
    <form asp-action="SubmitModify" asp-controller="@currentRoute" asp-route-id="@currentId" method="post">
        <div>
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" required>
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
